# ------
# Common
# ------
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
phd/__pycache__/*

# -----------------------
# Local Development Tools
# -----------------------
phd.egg-info/*
/node_modules
/npm-debug.log
src/data/*
.vscode/*

# ---------------
# Compiled assets
# ---------------
.sass-cache

# -----------
# Local files
# -----------
src/chapter_*/*tex
dst/
